{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Bienvenido a HabitUps! </h1>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://merida.anahuac.mx/hs-fs/hubfs/Hint-POSEC-2020/BLOGS%202020/Si%20quieres%20aumentar%20tu%20productividad%20laboral%2C%20deja%20de%20procrastinar/Aumentar-productividad-deja-procrastinar.jpg?width=1800&name=Aumentar-productividad-deja-procrastinar.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://merida.anahuac.mx/hs-fs/hubfs/Hint-POSEC-2020/BLOGS%202020/Si%20quieres%20aumentar%20tu%20productividad%20laboral%2C%20deja%20de%20procrastinar/Recomendaciones-dejar-procrastinar.jpg?width=1800&name=Recomendaciones-dejar-procrastinar.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://merida.anahuac.mx/hs-fs/hubfs/Hint-POSEC-2020/BLOGS%202020/Si%20quieres%20aumentar%20tu%20productividad%20laboral%2C%20deja%20de%20procrastinar/Dejar-procastinar.jpg?width=1800&name=Dejar-procastinar.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <div class="col-md-12">
            <p>Dejar las cosas para mañana es algo que todos hacemos. No tiene nada de malo; el problema es cuando la procrastinación se vuelve parte de tu vida diaria y afecta tu productividad laboral.</p>
            <p></p>
            <h2>Primero, definamos qué es procrastinación</h2>
            <p>La acción de procrastinar significa diferir o aplazar. En el caso de la productividad laboral hablamos de dejar para después tareas que son importantes y/o urgentes, reemplazándolas por actividades que en ese momento pudieran ser mucho menos importantes o placenteras: limpiar la casa, descansar, ver una película, etc. 

                Cuando la procrastinación es muy constante, tu autoestima puede verse afectada. Pero más que un reflejo de tu capacidad profesional o personal para hacer las cosas importantes, es una llamada de atención a la manera en la que gestionas el tiempo y das prioridad a tus tareas.</p>
            
            <div class="text-center">
                <p class="fst-italic">“Este hábito, de acuerdo con un experto en Psicología Clínica, esconde en la persona perfeccionismo, miedo al fracaso, falta de control de impulsos, incluso cansancio. Ya que no solo están conscientes de que evaden una tarea o actividad, también saben que es una mala idea y aún así, lo posponen.”</p>
            </div>
            <p></p>
            <h2>Corta por lo sano: di adiós a la procrastinación!</h2>
            <p>HabitUps tiene como objetivo mejorar la calidad de vida y salud mental de los usuarios.
            Mediante la implementación de un trackeador de hábitos, que va a devolver información relevante de cada usuario, así permitirá ser base para estudios de investigación respecto a la salud mental.
            Está enfocada para el uso de estudiantes escolares, pero puede ser utilizada para cualquier rango de edad.</p>
            <p>En esta aplicación podrás organizarte de mejor manera tu día a día, comenzando con hábitos positivos como: </p>
            <li>Definir una hora de dormir y despertar</li>
            <li>Tomar una cantidad de litros de agua al día</li>
            <li>Ejercios diarios</li>
            <li>Tener horas de estudios y tips para estos</li>
            <p></p>
            <p>¡Mira nuestros tips para organizar de mejor manera tus habitos!</p>
            <p></p>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/fd/a4/d8/fda4d8f44c7afdd5366262c3df3ac511.jpg" width="300" height="400" >
            
            <img src="https://i.pinimg.com/564x/df/35/e0/df35e077ba0ea011fc231bd3eb2b138d.jpg" width="300" height="400" > 
            
            <img src="https://pbs.twimg.com/media/EgXOg4qXkAARkjb.jpg:large" width="300" height="400" > 
            
            <img src="https://i.pinimg.com/564x/dc/38/42/dc38421cadee06f2eb58e8595788f4d4.jpg" width="300" height="400" >
                
            <p></p>
                
            <img src="https://i.pinimg.com/564x/8f/40/58/8f4058a37c38f3e77b555771829f1f7c.jpg" width="300" height="400" > 
            
            <img src="https://i.pinimg.com/564x/cb/f0/2d/cbf02d54acdd54436512e857d15cfec9.jpg" width="300" height="400" > 
            
            <img src="https://i.pinimg.com/564x/97/c9/fe/97c9fe45b2aa84ba7f666da2a00c82d4.jpg" width="300" height="400" >
            
            <img src="https://i.pinimg.com/564x/fb/d0/68/fbd0681a0eedac7bb5c991ad18b244cd.jpg" width="300" height="400" > 
 
            <p></p>

            <img src="https://i.pinimg.com/564x/4f/a5/ad/4fa5ad6b40e1e7ff4aa668766cc6a976.jpg" width="300" height="400" >
            
            <img src="https://i.pinimg.com/564x/1a/a7/8d/1aa78d2db7d698c17890193fcf90c888.jpg" width="300" height="400" > 
            
            <img src="https://i.pinimg.com/564x/a2/da/9d/a2da9d90c55880b2198fdb9528a2e631.jpg" width="300" height="400" > 
            
            <img src="https://i.pinimg.com/564x/10/ed/d2/10edd2c079f150cb26574f10642341af.jpg" width="300" height="400" > 
            <!--<img src="" width="300" height="400" > -->

        </div>
    </div>
</div>
{% endblock content %}
